DB_USER=usuário do banco de dados
DB_PASSWORD=senha do banco de dados
DB_NAME=nome do banco de dados
CONTAINER_NAME=nome do container docker do postgres
PORT=porta que a api vai rodar
JWT_SECRET=chave_secreta_aleatoria